
.header{
	border-radius: 30px;
	background-color: rgb(100,100,100);
	margin: auto;
	padding: 30px;
	width: 300px;
    height: 80px; 
	text-align: center;
	color: white;
	text-shadow: 3px 3px 1px rgb(255,255,255);
}
.topnav  {
	overflow: hidden;
	background-color: rgb(100,100,100); 
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 70px;
	
}
.topnav a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	margin: auto;
    font-weight: bloder	;
	text-shadow: 1px 1px 1px black;
}
.topnav a:hover {
    background-color: rgb(255,255,255);
    color: black;
	margin: auto;
}
p{
	color: white;
	font-size: 15pt;
	text-align: center;
}
p2{
	color: white;
	font-size: 30pt;
	text-align: center;
}
@media only screen and (max-width: 1340px) {
	
table {
    border-collapse: collapse;
	width:60%;
	margin-right:5%;
	padding: 1%;

    }
td {
	vertical-align: bottom ;
	text-align: center ;
	padding: 10px;
	font-size: 10pt;
	color: white;
	background-color: rgb(127,127,127);
	border-radius: 15px;
   }
th{
	background-color: rgb(104, 18, 18);
    color: white;
	padding: 10px;
	font-weight:bold;
	font-size: 12pt;
	border-radius: 30px;
   } 
}